/*--------------------------------------------------------------
#                               mobile
--------------------------------------------------------------*/
@media screen and (max-width: 767px) and (min-width: 320px){

body{overflow-x: hidden;}
.side_toogler{font-size:30px;cursor:pointer;margin-top: 3px;}
.lead_logo{text-align: center;}
.header_right{text-align: right;font-size: 12px;color: black;margin-top: 10px;}

#lead_navbar .navbar-toggler-icon {border-color: transparent;float: left; background-color: #f00;}
#lead_navbar .navbar-toggler-icon:hover { background-color: #fff;}

.main-lead .lead-news p{font-size: 16px;font-weight: bold;}
.main-lead .lead-news h6{font-size: 14px;}
#top_figure .media{height: auto;}
.media .media-body{margin-left: 10px;font-size: 12px;font-weight: bold;}
.lead_category{margin: 8px 0px;}
.lead_category p{font-size: 16px;color: white;padding: 2px 10px;}
#jatiyo .sub-lead{height: auto;}
.sub-lead .sub_lead_news{font-size: 12px;font-weight: bold;}
#mid-figure .lead_category p{font-size: 16px;color: white;padding: 3px 10px;}
#mid-figure .media{height: auto;}
.news_title{font-size: 14px;}
#sports .main-lead .lead-news p{font-size: 14px;font-weight: bold;}
#photo .lead_category p{font-size: 14px;color: white;padding: 2px 5px;}
#photo .photo .camera_icon i{font-size: 50px;color: white;}
.sub_photo .camera_icon i{font-size: 30px;color:white;}
#video .lead_category p{font-size: 14px;color: white;padding: 2px 5px;}
#video .video{height: auto;}
.video .video_icon i{font-size: 25px;}
.sub_video .video_icon i {font-size: 15px;}

.footer_menu li a{float: left; font-size: 14px;line-height: 1;color: #000;margin-left: 0px;}
.orange{font-size: 18px; color: #f6f6f6;color: #ED7C31;}
.orangebd{font-size: 18px;color: #000;}
}

/*--------------------------------------------------------------
#                               tab
--------------------------------------------------------------*/

@media screen and (max-width: 1023px) and (min-width: 767px){
    .lead_logo{padding-left: 80px;}
}